.cartIcon {
  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: -10px;
    cursor: pointer;
  }

  &__icon {
    width: 30px;
    height: 30px;
  }

  &__count {
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    top: 12px;
  }
}
