.category {
  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    font-size: 48px;
  }

  &__item_wrapper {
    display: flex;
    flex-wrap: wrap;

    & .collection-item__wrapper {
      margin-bottom: 30px;
      padding: 0 10px;
    }
  }
}
